@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>About me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Vijay Dwivedi, Vijay Dwivedi Raipur, Software Developer, Software Developers in Raipur, Best Software Developers, Best Software Developers in Raipur, Vijay Dwivedi Software Developer,Vijay Dwivedi Software Developer Raipur, NVC Developers Raipur, .NET Developers Raipur, .NET Developers" />
    <meta name="description" content="This is My Personal Web Info shows my Bio, Education, Experience, Knowledge and More" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/lightcase.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="js/jquery-2.2.3.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>
    <!-- banner -->
    <div class="banner about-w3banner">
        <div class="banner-w3lsinfo">
            <!-- header -->
            <div class="header">
                <div class="container">
                    <div class="logo">

                    </div>
                    <div class="menu">
                        <a href="#" class="navicon"></a>
                        <div class="toggle effect-3">
                            <ul class="toggle-menu">
                                <li><a href="@Url.Action("Index","Home")"> Home</a></li>
                                <li><a href="@Url.Action("About","Home")" class="active"> About</a></li>
                                <li><a href="@Url.Action("Skill","Home")"> Skills</a></li>
                                <li><a href="@Url.Action("Experience","Home")">Experience</a></li>
                                <li><a href="@Url.Action("Education","Home")">Education</a></li>
                                <li><a href="@Url.Action("Project","Home")"> My Projects</a></li>
                                <li><a href="@Url.Action("Contact","Home")"> Contact Me</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="social-w3licon">
                        <a href="https://twitter.com/vijaydwivedi125" class="social-button twitter" style="color:cornflowerblue;font-size:larger"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/vijay.dwivedi.7792" class="social-button facebook"><i class="fa fa-facebook" style="color:darkslateblue; font-size:larger"></i></a>
                        <a href="https://in.linkedin.com/in/vijay-dwivedi-97522b136" class="social-button googleplus" style="color:#0077B5; font-size:larger"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/vijaydwivedi15/" class="social-button dribbble"><i class="fa fa-instagram" style="font-size:larger;color:#ff794d"></i></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- //header -->
            <div class="w3agile-address">
                <div class="container">
                    <ul>
                        <li><i class="fa fa-map-marker" style="color:red" aria-hidden="true"></i>Raipur, Chhattisgarh</li>
                        <li><i class="fa fa-phone" style="color:#1ac7c2" aria-hidden="true"> </i>  +91-7898224788</li>
                        <li><i class="fa fa-envelope" style="color:#f6543d" aria-hidden="true"></i><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=vijaydwivedi125@gmail.com" target="_blank"> vijaydwivedi125@gmail.com</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="w3ls-title">
                <h2 class="agileits-title"style="font-family:'Playfair Display', serif">About Me</h2>
            </div>


            <div class="about-agileinfo">
                <div class="col-md-4 col-sm-4 about-left ">
                    <img src="/images/vijju.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-8 col-sm-8 about-right wthree">
                    <h3>Hi, i'm <span>Vijay Dwivedi </span></h3>
                    <h4 style="font-weight:bold;color:brown">Web Designer & Developer </h4>
                    <ul class="address">
                        <li>
                            <ul class="agileits-address-text ">
                                <li><b>D.O.B :</b></li>
                                <li>15-12-1995</li>
                            </ul>
                        </li>

                        <li>
                            <ul class="agileits-address-text ">
                                <li><b>FROM:</b></li>
                                <li>Rewa, India</li>
                            </ul>
                        </li>
                       
                        <li>
                            <ul class="agileits-address-text">
                                <li><b>LIVES IN :</b></li>
                                <li> Raipur Chhattisgarh, India.</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="agileits-address-text">
                                <li><b>E-MAIL :</b></li>
                                <li><a href="mailto:vijaydwivedi125@gmail.com"> vijaydwivedi125@gmail.com</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="agileits-address-text">
                                <li><b>WEBSITE :</b></li>
                                <li><a href="#">www.vijaydwivedi.com</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="social-wthree-icons">
                        <ul>
                            <li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
                            <li><a href="https://twitter.com/vijaydwivedi125" class="fa fa-twitter icon icon-border twitter"> </a></li>
                            <li><a href="https://in.linkedin.com/in/vijay-dwivedi-97522b136" class="fa fa-linkedin icon icon-border linkedin"> </a></li>
                            <li><a href="https://www.instagram.com/vijaydwivedi15/" class="fa fa-instagram icon icon-border instagram"> </a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>

                </div>
                <div class="clearfix"> </div>
                <div class="about-text agileits-w3layouts">
                    <p style="text-align:justify">
                        Hey, this is my homepage, So i have to say something about myself. Sometimes it is hard to introduce yourself because you know yourself so well that you do not know where to start with.
                        Let me give a try to see what kind of image you have about me through my self- description.<br />
                        I am a person who is positive about every aspect of life. There are many things I like to do, to see, and to experience. I like to read, I like to write,
                        I like to think, I like to dream; I like to talk, I like to listen. I like to look at the cloudes in the sky with a blank mind, I like to do thought
                        experiment when i cannot sleep in the middle of the night.I like flowers in spring, rain in summer, leaves in autumn, and cold in winter. I like to sleep early, and
                        get up late. I like good books and movies. I like the land and nature, I like people. And i like to laugh. <br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        I always wanted to be a great Softwere developer, like mark zuckerberg who developes the world largest social media platefome 'FACEBOOK' or like Tim
                        cook who invents the world famous 'Apple' brand. They have influenced millions of people through their inventions.<br />
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        Love myself I do. Not everything, but i love the good as well as the bad. I love my lifestyle and love my discipline. I love my freedom of speech and the way my eyes get dark when
                        i'm  tired. I love that i have learned to trust people with my heart. I am proud of everything that i am and will become.

                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- footer -->
    <div class="w3agile-footer">
        <div class="container">
            <p>© 2020 All rights reserved | Design by <a href="#" target="_blank">VijayDwivedi.</a></p>
        </div>
    </div>
    <!-- //footer -->
    <!-- menu-js -->
    <script>
		$('.navicon').on('click', function (e) {
		  e.preventDefault();
		  $(this).toggleClass('navicon--active');
		  $('.toggle').toggleClass('toggle--active');
		});
    </script>
    <!-- //menu-js -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
    

    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script src="~/js/jquery.events.touch.js"></script>
    <script src="~/js/lightcase.js"></script>
    <script src="~/js/skill.bars.jquery.js"></script>
</body>
</html>


