@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vijay Dwivedi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Vijay Dwivedi, Vijay Dwivedi Raipur, Software Developer, Software Developers in Raipur, Best Software Developers, Best Software Developers in Raipur, Vijay Dwivedi Software Developer,Vijay Dwivedi Software Developer Raipur, NVC Developers Raipur, .NET Developers Raipur, .NET Developers" />
    <meta name="description" content="This is My Personal Web Info shows my Bio, Education, Experience, Knowledge and More" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/lightcase.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="js/jquery-2.2.3.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>
    <!-- banner -->
    <div class="banner">
        <div class="banner-w3lsinfo">
            <!-- header -->
            <div class="header">
                <div class="container">
                    <div class="logo">

                    </div>
                    <div class="menu">
                        <a href="#" class="navicon"></a>
                        <div class="toggle effect-3">
                            <ul class="toggle-menu">
                                <li><a href="@Url.Action("Index","Home")" class="active"> Home</a></li>
                                <li><a href="@Url.Action("About","Home")"> About</a></li>
                                <li><a href="@Url.Action("Skill","Home")"> Skills</a></li>
                                <li><a href="@Url.Action("Experience","Home")">Experience</a></li>
                                <li><a href="@Url.Action("Education","Home")">Education</a></li>
                                <li><a href="@Url.Action("Project","Home")"> My Projects</a></li>
                                <li><a href="@Url.Action("Contact","Home")"> Contact Me</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="social-w3licon">
                        <a href="https://twitter.com/vijaydwivedi125" class="social-button twitter" style="color:cornflowerblue;font-size:larger"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/vijay.dwivedi.7792" class="social-button facebook"><i class="fa fa-facebook" style="color:darkslateblue; font-size:larger"></i></a>
                        <a href="https://in.linkedin.com/in/vijay-dwivedi-97522b136" class="social-button googleplus" style="color:#0077B5; font-size:larger"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/vijaydwivedi15/" class="social-button dribbble"><i class="fa fa-instagram" style="font-size:larger;color:#ff794d"></i></a>
                        

                        
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- //header -->
            <!-- banner-text -->
            <div class="banner-text">
                <div class="container">
                    <div class="banner-w3lstext">
                        <h2 style="font-family:'Playfair Display', serif">VIJAY DWIVEDI<span> Software Developer </span></h2>
                        <p style="font-weight:bold">Computer Science and Engineering</p>
                    </div>
                </div>
            </div>
            <!-- //banner-text -->
            <div class="w3agile-address">
                <div class="container">
                    <ul>
                        <li><i class="fa fa-map-marker" style="color:red" aria-hidden="true"></i>Raipur, Chhattisgarh</li>
                        <li><i class="fa fa-phone" style="color:#1ac7c2" aria-hidden="true"> </i>  +91-7898224788</li>
                        <li><i class="fa fa-envelope" style="color:#f6543d" aria-hidden="true"></i><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=vijaydwivedi125@gmail.com" target="_blank"> vijaydwivedi125@gmail.com</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- footer -->
    <div class="w3agile-footer">
        <div class="container">
            <p>© 2020 All rights reserved | Design by <a href="#" target="_blank">VijayDwivedi.</a></p>
        </div>
    </div>
    <!-- //footer -->
    <!-- menu-js -->
    <script>
		$('.navicon').on('click', function (e) {
		  e.preventDefault();
		  $(this).toggleClass('navicon--active');
		  $('.toggle').toggleClass('toggle--active');
		});
    </script>
    <!-- //menu-js -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script src="~/js/jquery.events.touch.js"></script>
    <script src="~/js/lightcase.js"></script>
    <script src="~/js/skill.bars.jquery.js"></script>

</body>
</html>