
@{
    ViewBag.Title = "Skill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Skills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Vijay Dwivedi, Vijay Dwivedi Raipur, Software Developer, Software Developers in Raipur, Best Software Developers, Best Software Developers in Raipur, Vijay Dwivedi Software Developer,Vijay Dwivedi Software Developer Raipur, NVC Developers Raipur, .NET Developers Raipur, .NET Developers" />
    <meta name="description" content="This is My Personal Web Info shows my Bio, Education, Experience, Knowledge and More" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/lightcase.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="js/jquery-2.2.3.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>    
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>
    <!-- banner -->
    <div class="banner about-w3banner">
        <div class="banner-w3lsinfo">
            <!-- header -->
            <div class="header">
                <div class="container">
                    <div class="logo">

                    </div>
                    <div class="menu">
                        <a href="#" class="navicon"></a>
                        <div class="toggle effect-3">
                            <ul class="toggle-menu">
                                <li><a href="@Url.Action("Index","Home")"> Home</a></li>
                                <li><a href="@Url.Action("About","Home")"> About</a></li>
                                <li><a href="@Url.Action("Skill","Home")" class="active"> Skills</a></li>
                                <li><a href="@Url.Action("Experience","Home")">Experience</a></li>
                                <li><a href="@Url.Action("Education","Home")">Education</a></li>
                                <li><a href="@Url.Action("Project","Home")"> My Projects</a></li>
                                <li><a href="@Url.Action("Contact","Home")"> Contact Me</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="social-w3licon">
                        <a href="https://twitter.com/vijaydwivedi125" class="social-button twitter" style="color:cornflowerblue;font-size:larger" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/vijay.dwivedi.7792" class="social-button facebook" title="Facebook"> <i class="fa fa-facebook" style="color:darkslateblue; font-size:larger"></i></a>
                        <a href="https://in.linkedin.com/in/vijay-dwivedi-97522b136" class="social-button googleplus" style="color:#0077B5; font-size:larger" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/vijaydwivedi15/" class="social-button dribbble" title="Instagram"><i class="fa fa-instagram" style="font-size:larger;color:#ff794d"></i></a>
                        

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- //header -->
            <div class="w3agile-address">
                <div class="container">
                    <ul>
                        <li><i class="fa fa-map-marker" style="color:red" aria-hidden="true"></i>Raipur, Chhattisgarh</li>
                        <li><i class="fa fa-phone" style="color:#1ac7c2" aria-hidden="true"> </i>  +91-7898224788</li>
                        <li><i class="fa fa-envelope" style="color:#f6543d" aria-hidden="true"></i><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=vijaydwivedi125@gmail.com" target="_blank"> vijaydwivedi125@gmail.com</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- skills -->
    <div class="about skills">
        <div class="container">
            <div class="w3ls-title">
                <h2 class="agileits-title" style="font-family:'Playfair Display', serif">My skills</h2>
            </div>

            <div class="skill-agileinfo">
                <p style="text-align:justify">
                    As per my knowledge, I have learnt most of the IT relevent cources in my acedemics as well as extra apart from the releted IT cource.I have also done some
                    certifications in like MS.NET including with SQL SERVER and Android App development with core java and other basic things.Which provides me
                    the basic as well as more khowledge in these cources that is very important and helpfull in the web development and rise your technical skills and non-technical
                    also, for the softwere develpoers to maintain and introduce new logics for interactive work on the softwere development industry.
                    Now latest technology in which i'm working is MVC 5 and learning about Angular JS and Python.
                </p>
                <div class="skill-grids">
                    <div class="col-md-4 col-sm-4 skills-w3lsleft">
                        <h4>Extra Skills</h4>
                        <ul>
                            @*<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Basics in ASP.NET</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Basics in MVC</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Basics in HTML</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Basics in SQL SERVER</li>*@
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>CSS</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>JAVA SCRIPT</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>JQUERY</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>LINQ</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Firebase</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>SSRS</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Cyrstal reporting</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Cyrstal reporting</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Hosting (plesk)</li>

                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Basics in C </li>
                        </ul>
                    </div>
                    <div class="col-md-8 col-sm-8 skills-w3lsright">
                        <h4>Technical Skills</h4>

                        <div class="skillbar" data-percent="80">
                            <span class="skillbar-title" style="background:#9226a4;">ASP.NET</span>
                            <p class="skillbar-bar" style="background:#b32eca;"></p>
                            <span class="skill-bar-percent"></span>
                        </div>

                        <div class="skillbar" data-percent="85">
                            <span class="skillbar-title" style="background:#F86B4C;">MVC</span>
                            <p class="skillbar-bar" style="background:#FAB7A9;"></p>
                            <span class="skill-bar-percent"></span>
                        </div>

                        <div class="skillbar" data-percent="45">
                            <span class="skillbar-title" style="background:#0396d8;">AngularJs</span>
                            <p class="skillbar-bar" style="background:#03A9F4;"></p>
                            <span class="skill-bar-percent"></span>
                        </div>


                        <!-- End Skill Bar -->
                        <div class="skillbar" data-percent="90">
                            <span class="skillbar-title" style="background:#028679;">SQL SERVER</span>
                            <p class="skillbar-bar" style="background: #009688;"></p>
                            <span class="skill-bar-percent"></span>
                        </div>

                        <div class="skillbar" data-percent="90">
                            <span class="skillbar-title" style="background:#e08808;">HTML5</span>
                            <p class="skillbar-bar" style="background: #ff9d0d;"></p>
                            <span class="skill-bar-percent"></span>
                        </div>
                        <!-- End Skill Bar -->
                       

                        
                        <!-- End Skill Bar -->
                        <!-- End Skill Bar -->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- Stats -->
                <div class="stats news-w3layouts">
                    <div class="stats-info agileits-w3layouts">
                        <div class="col-sm-3 col-xs-6 stats-grid">
                            <div class="stats-img">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </div>
                            <p>Connected Clients</p>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='157000' data-delay='.5' data-increment="100">25</div>
                        </div>
                        <div class="col-sm-3 col-xs-6 stats-grid">
                            <div class="stats-img w3-agileits">
                                <i class="fa fa-clone" aria-hidden="true"></i>
                            </div>
                            <p> Events</p>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='850' data-delay='8' data-increment="1">8</div>
                        </div>
                        <div class="col-sm-3 col-xs-6 stats-grid">
                            <div class="stats-img w3-agileits">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            </div>
                            <p>Projects</p>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='80000' data-delay='.5' data-increment="100">23</div>
                        </div>
                        <div class="col-sm-3 col-xs-6 stats-grid">
                            <div class="stats-img w3-agileits">
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            </div>
                            <p>Certifications</p>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='269' data-delay='8' data-increment="1">10</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- //Stats -->
            </div>

        </div>
    </div>
    <!-- //skills -->
    <!-- footer -->
    <div class="w3agile-footer">
        <div class="container">
            <p>© 2020 All rights reserved | Design by <a href="#" target="_blank">VijayDwivedi.</a></p>
        </div>
    </div>
    <!-- //footer -->
    <!-- Skill Bar js -->
    <script src="js/skill.bars.jquery.js"></script>
    <script>

	$(document).ready(function(){

		$('.skillbar').skillBars({
			from: 0,
			speed: 4000,
			interval: 100,
			decimals: 0,
		});

	});
    </script>
    <!-- //End Skill Bar js -->
    <!-- menu-js -->
    <script>
		$('.navicon').on('click', function (e) {
		  e.preventDefault();
		  $(this).toggleClass('navicon--active');
		  $('.toggle').toggleClass('toggle--active');
		});
    </script>
    <!-- //menu-js -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="js/bootstrap.js"></script>
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script src="~/js/jquery.events.touch.js"></script>
    <script src="~/js/lightcase.js"></script>
    <script src="~/js/skill.bars.jquery.js"></script>
</body>
</html>
